---
import BlogPostPreview from '../components/BlogPostPreview.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { sortByDate } from '../utils/sort-by-date';

const allPosts = (await Astro.glob('./posts/*.md')).sort(sortByDate).slice(0, 5);
---

<BaseLayout>
	<section aria-label="Blog post list">
		{allPosts.map((p) =>
		<BlogPostPreview post={p} />)}
	</section>
	<div class="flex justify-center mt-8 text-[#FFA657]">
		<a href="/posts">show all posts</a>
	</div>
</BaseLayout>