---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import { BASE_URL, DESCRIPTION, TITLE } from '../constants/site';

interface Props {
  title?: string;
  description?: string;
  permalink?: string;
  hasPrism?: boolean
}

const {
  title = TITLE,
  description = DESCRIPTION,
  permalink = BASE_URL,
  hasPrism = false
} = Astro.props as Props;
---

<html lang="en">

<head>
  <BaseHead {title} {description} {permalink} />
  { hasPrism &&
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css" />}
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script> -->
</head>

<body class="bg-[#161d27] text-white max-w-4xl m-auto p-4">
  <BlogHeader />
  <main>
    <slot />
  </main>
</body>

</html>