---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<div class="border-b-2 last:border-none">
	<a href={post.url}>
		<div class="py-4">
			<header>
				<span class="text-zinc-400">{post.frontmatter.pubDate}</span>
				<h4 class="text-2xl">{post.frontmatter.title}</h4>
			</header>
			<span class="text-md">{post.frontmatter.description}</span>
		</div>
	</a>
</div>